table {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.displayName{
  position: absolute;
  font-size: 25px !important;
  font-weight: normal !important;
  top: -86px;
  left: 110px;
  z-index: 4500;
}


