
<ul>
  <li class="displayName noList" *ngFor="let user of users | async">
    <span *ngIf="user.uid === myId"><i class="fas fa-angle-right"></i> {{user.displayName}} </span>

  </li>
</ul>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="weekNumber">
        <th mat-header-cell *matHeaderCellDef> Week Number </th>
        <td mat-cell *matCellDef="let element">{{ element.weekNumber }}</td>
    </ng-container>

    <ng-container matColumnDef="workedHours">
        <th mat-header-cell *matHeaderCellDef> Total Hours </th>
        <td mat-cell *matCellDef="let element"> {{element.workedHours}} </td>
    </ng-container>

    <ng-container matColumnDef="absence">
        <th mat-header-cell *matHeaderCellDef> Absence </th>
        <td mat-cell *matCellDef="let element"> {{element.absence}} </td>
    </ng-container>
    <ng-container matColumnDef="bankHolidays">
        <th mat-header-cell *matHeaderCellDef> Bank Holidays </th>
        <td mat-cell *matCellDef="let element"> {{element.bankHolidays}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>



