<mat-grid-list cols="2" rowHeight="100%">

    <mat-grid-tile class="loginLeft">
        <div class="container backgroundLogin">

            <div class="leftText">
                <h1 class="signleftTitle">Join Our Community</h1>
                <p class="signleftText">Hello, colleagues! This is the time tracking app that allow us to manage our schedule and holiday in the company.</p>
            </div>
        </div>
    </mat-grid-tile>

    <mat-grid-tile class="loginRight">
        <div class="logo">
            <h1><img id="logo" src="assets/img/logo.jpg"></h1>
            <h3 class="signTitle" *ngIf="!newUser">Sign In To Tracker</h3>
            <h3 class="signTitle" *ngIf="newUser">Login In To Tracker</h3>
        </div>

        <mat-card class="loginForm">
            <mat-card-content>
                <form class="example-form" name="form" [formGroup]="userForm" *ngIf="newUser" (ngSubmit)="login(messageUser)">

                    <table class="example-full-width" cellspacing="0">
                        <tr>
                            <mat-form-field class="example-full-width">
                                <input matInput type="email" class="input" formControlName="email" name="email" required autocomplete="new-password" placeholder="User">
                            </mat-form-field>
                            <div *ngIf="formErrors.email " class="notification is-danger">
                                {{ formErrors.email }}
                            </div>
                        </tr>

                        <tr>
                            <mat-form-field class="example-full-width password">
                                <input matInput type="password" class="input" formControlName="password" name="password" required placeholder="Password">
                            </mat-form-field>
                            <div *ngIf="formErrors.password" class="notification is-danger">
                                {{ formErrors.password }}
                            </div>
                        </tr>

                        <tr class="rememberMe">
                            <mat-checkbox formControlName="checkRememberMe">Remember me</mat-checkbox>
                            <a class="forgetPassword" *ngIf="passReset" (click)="resetPassword()">Forgot Password ?</a>
                        </tr>
                    </table>

                    <button mat-raised-button color="primary" class="formButton submitLogin" type="submit" [disabled]="!userForm.valid">Log In</button>
                </form>

                <form class="example-form" [formGroup]="userForm" *ngIf="!newUser" (ngSubmit)="signup()">

                   

                    <table class="example-full-width" cellspacing="0">
                        <tr>
                            <mat-form-field class="example-full-width">
                                <input matInput type="text" id="displayName" name="displayName" formControlName="displayName" class="input" required placeholder="Full Name">
                            </mat-form-field>
                        </tr>

                        <tr>
                            <mat-form-field class="example-full-width">
                                <input matInput type="email" id="email" name="email2" class="input" formControlName="email" required placeholder="Email">
                            </mat-form-field>
                            <div *ngIf="formErrors.email" class="help is-danger">
                                {{ formErrors.email }}
                            </div>
                        </tr>

                        <tr>
                            <mat-form-field class="example-full-width">
                                <input matInput type="password" id="password" name="password" class="input" formControlName="password" required placeholder="Password">
                            </mat-form-field>
                            <div *ngIf="formErrors.password" class="help is-danger">
                                {{ formErrors.password }}
                            </div>
                        </tr>

                        <tr>

                            <mat-form-field class="example-full-width">
                                <input matInput type="password" id="password2" name="password2" class="input" formControlName="password" required placeholder="Repeat Password">
                            </mat-form-field>

                        </tr>

                        <tr>
                            <mat-form-field class="example-full-width">
                                <input matInput [max]="maxDate" [min]="minDate" [matDatepicker]="pickerBegin" [(ngModel)]="beginDay" [ngModelOptions]="{standalone: true}" value="beginDay" placeholder="Begin day">
                                <mat-datepicker-toggle matSuffix [for]="pickerBegin"></mat-datepicker-toggle>
                                <mat-datepicker #pickerBegin></mat-datepicker>
                            </mat-form-field>
                        </tr>


                    </table>

                    <button mat-raised-button color="warn" class="formButton" id="cancelRegister" (click)="toggleForm()">Cancel</button>
                    <button mat-raised-button color="primary" class="formButton" type="submit" [disabled]="!userForm.valid">Register</button>

                </form>
            </mat-card-content>


        </mat-card>

        <footer class="changeForm">
            <span *ngIf="newUser">Don't have an account yet ?<button mat-button color="primary" (click)="toggleForm()">Sign Up</button></span>
        </footer>
    </mat-grid-tile>

</mat-grid-list>