.loginRight {
    background: white;
}

.logo {
    width: 100%;
    position: absolute;
    top: 95px;
}

.logo>h1 {
    text-align: center;
}

#logo {
    max-width: 30%;
}

.mat-grid-tile {
    background: white;
}

.mat-grid-list {
    position: static;
}

.signTitle {
    text-align: center !important;
    margin-top: 20px !important;
    font-weight: 500;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.changeForm {
    bottom: 20px;
    width: 100%;
    position: absolute;
    text-align: center;
}

.formButton {
    margin-top: 20px !important;
    float: right;
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: none;
    width: 50%;
    padding: 20px;
    margin-top: 80px !important;
}

.loginLeft {
    width: 100%;
    height: 400px;
    background-image: url('../../assets/img/background_login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.backgroundLogin {
    background-color: rgb(0, 0, 0, 0.8);
}

.leftText {
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 70%;
    height: 20%;
}

.signleftTitle {
    margin-bottom: 20px;
    font-weight: 500;
}

#cancelRegister {
    margin-left: 10px !important;
}

.password {
    margin-bottom: 15px;
}

.submitLogin {
    margin-top: 45px;
}

.forgetPassword {
    text-decoration: none;
    float: right;
    cursor: pointer;
}