<div *ngIf="isLogged; else login">
    <app-navbar></app-navbar>

    <mat-sidenav-container class="example-container" #nav>
        <mat-sidenav class="sideNavbar" #sidenav mode="side" opened (closed)="events.push('close!')" (opened)="events.push('open!')">
            <nav class="logoSpace">
                <img src="../assets/img/logo.jpg">
            </nav>
            <mat-list class="sidebarMenu">
                <h3 mat-subheader>DASHBOARD</h3>
                <div *ngIf="isAdmin">
                    <mat-list-item class="sideBarText">
                        <h4 mat-line [routerLink]="['/admin']">
                            <i class="fas fa-list-alt fa-lg"></i> <a>Admin</a>
                        </h4>
                        <h4 mat-line [routerLink]="['/absence']">
                            <i class="fas fa-calendar-check fa-lg"></i> <a> Absences</a>
                        </h4>
                        <h4 mat-line [routerLink]="['/absenceList', uid]" [routerLinkActive]="['active-link']">
                            <i class="fas fa-calendar-alt fa-lg"></i> <a> Absence List</a>
                        </h4>
                    </mat-list-item>
                    <h3 mat-subheader>CALENDAR</h3>
                    <mat-list-item class="sideBarText">
                        <h4 mat-line [routerLink]="['/calendar']">
                            <i class="fas fa-calendar-alt fa-lg"></i> <a> Calendar</a>
                        </h4>
                        <h4 mat-line [routerLink]="['/day']">
                            <i class="fas fa-business-time"></i> <a> Edit Day</a>
                        </h4>
                    </mat-list-item>
                </div>

                <div *ngIf="!isAdmin">
                    <mat-list-item class="sideBarText">
                        <h4 mat-line [routerLink]="['/tracker']">
                            <i class="fas fa-business-time"></i>
                            <a>Tracker</a>
                        </h4>
                        <h4 mat-line [routerLink]="['/absence']">
                            <i class="fas fa-calendar fa-lg"></i> <a>Absences</a>
                        </h4>
                        <h4 mat-line [routerLink]="['/absenceList', uid]" [routerLinkActive]="['active-link']">
                            <i class="fas fa-calendar-alt fa-lg"></i> <a> Absence List</a>
                        </h4>
                    </mat-list-item>
                    <h3 mat-subheader>CALENDAR</h3>
                    <mat-list-item class="sideBarText">
                        <h4 mat-line [routerLink]="['/calendar']">
                            <i class="fas fa-calendar-alt fa-lg"></i> <a>Calendar</a>
                        </h4>
                        <h4 mat-line [routerLink]="['/day']">
                            <i class="fas fa-calendar-alt fa-lg"></i> <a>Edit Day</a>
                        </h4>
                    </mat-list-item>
                </div>
                <span class="version">Time Tracker v2.1.0</span>
            </mat-list>

        </mat-sidenav>

        <mat-sidenav-content>
            <nav *ngIf="isLogged">
                <ul class="displayMenu sideButton" (click)="sidenav.toggle(opening())">
                    <li *ngIf="opened"><i class="fas fa-angle-left fa-2x"></i></li>
                    <li *ngIf="!opened"><i class="fas fa-angle-right fa-2x"></i></li>
                </ul>
            </nav>

            <div class="container">
                <div class="content-padding">
                    <router-outlet></router-outlet>
                </div>
            </div>

        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
<ng-template #login>
    <app-login></app-login>
</ng-template>
