.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
}

.example-events {
    width: 600px;
    height: 100%;
    overflow: auto;
}

.sideNavbar {
    background: #2f3240;
    border: none;
    width: 255px;
    color: white;
}

.sidebarMenu {
    margin-top: 130px;
    margin-left: 20px;
    list-style-type: none;
}

.sidebarMenu i {
    width: 30px;
    height: 30px;
    display: inline-block;
    float: left;
    color: #868aa8 !important;
    padding-top: 5px;
    opacity: 0.5;
}

.sidebarMenu h3 {
    color: white;
}

.sideBarText h4 {
    padding-top: 5px;
    padding-left: 10px;
    cursor: pointer;
}

.sideBarText *:hover {
    background-color: #292b3a;
}

.active-link {
    border-left: 1px solid white;
}

h4:focus {
    outline: 0;
}

.sideBarText *:hover i {
    opacity: 1 !important;
}

.sideBarText a {
    text-decoration: none;
    color: #868aa8 !important;
    height: 30px;
    display: inline-block;
    width: 100%;
    font-size: 17px;
}

.displayMenu {
    position: absolute;
    top: 400px;
    height: 70px;
    width: 80px;
    margin-left: 15px;
    list-style-type: none;
    color: #2f3240;
    cursor: pointer;
}

.mat-drawer-container {
    background: none !important;
}

nav {
    background: white !important;
    width: 100%;
    height: 70px;
    box-shadow: 0 1px 15px 1px rgba(69, 65, 78, .1);
    color: black;
    position: fixed;
    z-index: 40;
}

.logoSpace {
    margin-right: -20px;
}

.logoSpace>img {
    height: 50px;
    margin: 10px 0 0 30px;
}

.titleSection {
    margin: 40px 0 0 40px;
}

.mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
}

.version {
    position: absolute;
    bottom: 20px;
    left: 0;
    text-align: center;
    width: 100%;
    font-weight: lighter;
}