<app-user-data [pageName]="pageName" class="toolBar"></app-user-data>

<div class="content">
    <div class="abcenseContainer">
        <mat-form-field class="fullWidth">
            <mat-select placeholder="Absence Type" [(value)]="choosenStatus">
                <mat-option value="holidays">Holidays</mat-option>
                <mat-option value="sickness">Sickness</mat-option>
            </mat-select>
        </mat-form-field>



      <mat-form-field *ngIf="choosenStatus === 'holidays'; else sickness" class="fullWidth">
            <input matInput [min]="today" [matDatepicker]="pickerStart" [(ngModel)]="valueStart" value="valueStart" placeholder="Start day">
            <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
            <mat-datepicker #pickerStart></mat-datepicker>
        </mat-form-field>
        <ng-template #sickness>
            <mat-form-field class="fullWidth">

                <input matInput [min]="minDate" [max]="today" [matDatepicker]="pickerStart" [(ngModel)]="valueStart" value="valueStart" placeholder="Start day">
                <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                <mat-datepicker #pickerStart></mat-datepicker>
            </mat-form-field>
        </ng-template>
        <mat-form-field class="fullWidth">
            <input matInput [min]="valueStart" [matDatepicker]="pickerEnd" [(ngModel)]="valueEnd" placeholder="End day">
            <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
            <mat-datepicker #pickerEnd></mat-datepicker>
        </mat-form-field>
        <mat-checkbox class="fullWidth" *ngIf="choosenStatus == 'holidays'  && valueEnd" [(ngModel)]="halfDay">Half day</mat-checkbox>
        <div *ngIf="choosenStatus == 'sickness' && valueEnd" class="fullWidth">
            <label for="file">File:</label>
            <input type="file" (change)="upload($event)" accept=".png,.jpg" />
            <div class="result" *ngIf="downloadURL | async; let url">
                <img [src]="url" style="max-width: 200px; max-height: 200px">
            </div>
        </div>

        <button class="primary" mat-button mat-raised-button (click)="setAbsence()">Send</button>
    </div>
</div>
