<div class="trackerZone">
    <div class="start">

        <div class="trackerContent">

            <ul>
                <li>
                    <div><img src="../../../../assets/img/sunny-day.png"></div>
                </li>
                <li>
                    <div>

                        <button mat-mini-fab class="startBtn" color="primary" (click)="onStart()" [disabled]=started> <i class="fas fa-play" id="startBtn"></i> </button>&nbsp;

                        <mat-form-field>
                            <input class="startEndTracker" matInput placeholder="Start" type="text" name="" disabled="true" value="{{ timeStart }}" id="">
                        </mat-form-field>

                    </div>
                </li>
            </ul>

        </div>

    </div>

    <div class="end">

        <div class="trackerContent">

            <ul>
                <li>
                    <div> <img src="../../../../assets/img/sleep.png"> </div>
                </li>

                <li>
                    <div>

                        <button mat-mini-fab color="warn" [disabled]="!started || ended" (click)="onEnd()" id="endBtn"><i class="fas fa-stop"></i></button>&nbsp;

                        <mat-form-field>
                            <input matInput class="startEndTracker" placeholder="End" type="text" disabled="true" name="" value="{{ timeEnd }}" id="">
                        </mat-form-field>

                    </div>
                </li>
            </ul>

        </div>

    </div>

    <div class="break">

        <div class="trackerContent">

            <ul>
                <li>
                    <div> <img src="../../../../assets/img/lunch.png"> </div>
                </li>

                <li>
                    <div>
                        <button mat-mini-fab id="sumar" class="btn btn-outline-primary" color="warn" (click)="onMinus()" type="button" [disabled]="ended" id="minusBtn"> <i class="fas fa-minus"></i> </button>&nbsp;

                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Break" type="number" class="form-control " value="{{ break }}" (keyup)="onKeyUp(val.value)" (keyup.enter)="onSetBreak(val.value)" min="0" #val [disabled]="ended || breakFilled">
                        </mat-form-field>&nbsp;
                        <button class="btn btn-outline-primary" color="primary" mat-mini-fab (click)="onPlus()" type="button" [disabled]="ended" id="plusBtn"> <i class="fas fa-plus"></i> </button>&nbsp;
                        <button class="btn btn-outline-primary" mat-button color="primary" (click)="onSetBreak(break)" type="button" [disabled]="ended || !canSendBreak" id="setBreakBtn">Set Break</button>

                    </div>
                </li>
            </ul>

        </div>

    </div>
</div>
