.trackerZone {
    height: 300px;
}

.trackerContent {
    border: 1px solid black;
    margin: 10px;
    width: 100%;
    height: 300px;
}

.trackerContent:hover {
    cursor: pointer;
}

.trackerContent>ul>li {
    list-style-type: none;
    border: 1px solid transparent;
    width: 100%;
    height: 150px;
}

.trackerContent>ul>li>div>img {
    margin-top: 25px;
}

.trackerContent>ul>li>div {
    text-align: center;
    margin-top: 25px;
}

.trackerZone>div {
    width: calc(100% / 3);
    height: 300px;
    display: inline-flex;
    float: left;
}

.trackerZone>div>img {
    margin: auto;
}
