<mat-toolbar>

    <mat-toolbar-row>
        <!--<span class="goBack" routerLink="/{{pageRoute}}"> {{pageName | titlecase}} </span>-->
        <span class="goBack"> {{pageName | titlecase}} </span>
        <span class="example-spacer"></span>
        <mat-chip-list>
            <mat-chip> Week {{ today | date:'ww' }}</mat-chip>
            <mat-chip> {{ today | date:'shortTime' }}</mat-chip>
        </mat-chip-list>
    </mat-toolbar-row>

</mat-toolbar>