<h1 mat-dialog-title>Holidays</h1>
<div mat-dialog-content>
    <p>{{ data.displayName }}</p>
    <mat-form-field>
        <input type="number" matInput [(ngModel)]="data.holidays"/>

    </mat-form-field>

</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Close</button>
    <button mat-button [mat-dialog-close]="data.holidays" cdkFocusInitial>Ok</button>
</div>
