<div class="month">
    <mat-form-field>
        <mat-select placeholder="select month" [formControl]="months" multiple>
            <mat-option *ngFor="let month of monthList" [value]="month">{{month}}</mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-raised-button (click)="$event ? selected() : null">Export</button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 userList">

    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
            </mat-checkbox>
        </td>
    </ng-container>

    <ng-container matColumnDef="displayName">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"><button mat-button [routerLink]="['/admin/details', element.uid]" routerLinkActive="router-link-active">{{ element.displayName }}</button></td>
    </ng-container>

    <ng-container matColumnDef="balance">
        <th mat-header-cell *matHeaderCellDef> Balance Hours </th>
        <td mat-cell *matCellDef="let element"> {{element.balance}} </td>
    </ng-container>

    <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Role </th>
        <td mat-cell *matCellDef="let element">
            <mat-slide-toggle [(ngModel)]="element.isAdmin" (change)="selectAdmin(element.uid, element.isAdmin)">Admin</mat-slide-toggle>
        </td>
    </ng-container>

    <ng-container matColumnDef="holiday">
        <th mat-header-cell *matHeaderCellDef> Holiday </th>
        <td mat-cell *matCellDef="let element; let i = index">
            <button mat-raised-button (click)="openHolidayDialog(element.holidays, element.uid, element.displayName, i)">{{element.holidays}}</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <ng-container matColumnDef="AbsenceLink">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
            <button mat-raised-button [routerLink]="['/absenceList', element.uid]" routerLinkActive="router-link-active">Absence</button>
        </td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>