<app-user-data class="toolBar"></app-user-data>
<div mat-dialog>
    <div mat-dialog-title>
        <h1>{{user.userName}}</h1>
        <hr>
    </div>
    <div mat-dialog-content>
        <div>
            <div>
                <h4>
                    Email:
                </h4>
                <mat-form-field class="editEmail">
                    <input matInput type="text" name="email" disabled [value]="user.email">
                </mat-form-field>
            </div>
            <div>
                <h4>
                    Full name:
                </h4>
                <mat-form-field class="editName">
                    <input matInput type="text" (keyup.enter)="saveUser(name.value)" [value]="user.userName" #name>
                </mat-form-field>
            </div>
            <div>
                <div>
                    <h4 for="file">Image: </h4>
                </div>
                <input type="file" (change)="upload($event)" accept=".png,.jpg">
            </div>
        </div>
    </div>
    <br>
    <div mat-dialog-actions>
        <button mat-button (click)="saveUser(name.value)" type="button" cdkFocusInitial [disabled]="cantSave">Save</button>
        <button mat-button (click)="onCancel()" type="button" [disabled]="cantSave">Cancel</button>
    </div>
</div>