.navButtons {
    position: absolute;
    right: -250px;
    top: 0;
    z-index: 300;
}

.profile {
    margin-right: 270px;
}

.menu1 {
    float: right;
    height: 70px;
    border-radius: 0;
    padding: 0 20px 0 20px;
}

.menu1:hover {
    cursor: pointer;
}

.logo {
    float: left;
    position: absolute !important;
    background: white;
    height: 70px;
    width: 255px;
    left: 0;
    top: 0;
    z-index: 25;
}

.logo>img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.menu1>button {
    position: relative;
    top: 15px;
    background: #c50012;
}

.profileImg {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: 15px;
}

.user {
    margin-left: 10px !important;
    position: relative;
    top: 10px;
    font-size: 0.8em;
}

.myAlerts {
    border: 1px solid red !important;
}

.sideBarText a {
    text-decoration: none;
    color: #868aa8 !important;
    height: 30px;
    display: inline-block;
    width: 100%;
    font-size: 17px;
}

.mat-badge-large .mat-badge-content {
    font-size: 13px !important;
    padding: 0 2px 0 0 !important;
}

.mat-badge-large {
    border-radius: 10px !important;
}

.mat-raised-button {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12) !important;
    border-radius: 30px !important;
    padding: 2px !important;
}