<mat-toolbar>
    <div class="logo">
        <img src="../assets/img/logo.jpg" height="50">
    </div>
    <div class="navButtons">
        <div class="menu1 profile">
            <div class="profileNav">
                <img *ngIf="profileImage" [matMenuTriggerFor]="profile" class="profileImg" [src]="profileImage">
                <img *ngIf="!profileImage" [matMenuTriggerFor]="profile" class="profileImg" src="../../../../assets/img/profile.jpg">
                <span class="user" [matMenuTriggerFor]="profile">{{userData.displayName}}</span>
            </div>
            <mat-menu #profile="matMenu">
                <button mat-menu-item (click)="openEditDialog()">Profile</button>
                <button mat-menu-item (click)="logout()">Log Out</button>
            </mat-menu>
        </div>


        <div class="menu1">
          <button mat-raised-button color="primary" matTooltip="Balance of hours" *ngIf="showColorBalance;else green" >
            {{ userData.balance }}
          </button>
          <ng-template #green>
            <button mat-raised-button color="primary" matTooltip="Balance of hours"  style="background-color: #78B825!important;s">
              {{ userData.balance }}
            </button>
          </ng-template>

        </div>
        <div class="menu1">
          <button mat-mini-fab [matMenuTriggerFor]="menu" matTooltip="Notifications"><mat-icon matBadge="5" ><i class="far fa-bell"></i></mat-icon></button>
          <mat-menu #menu="matMenu" class="myAlerts">
            <mat-selection-list #shoes>
              <mat-list-option>
                Option 1
              </mat-list-option>

            </mat-selection-list>
          </mat-menu>
        </div>

    </div>
</mat-toolbar>
