<app-user-data [pageName]="myName" class="toolBar"></app-user-data>

<div class="searchDay">
    <mat-form-field class="datePicker">
        <input matInput [matDatepicker]="picker" [(ngModel)]="daySearch" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" (click)="searchDay()"> Search </button>
</div>

<div class="content" style="top:250px">
<div class="editZone">
  <div class="start">

    <div class="editContent">

      <ul>
        <li>
          <div><img src="../../../../assets/img/sunny-day.png"></div>
        </li>
        <li>
          <div>

            <mat-form-field>
              <input class="startEndTracker" matInput placeholder="Start" type="text" name="" [(ngModel)]="startTimeModel">
            </mat-form-field>

          </div>
        </li>
      </ul>

    </div>

  </div>

  <div class="end">

    <div class="editContent">

      <ul>
        <li>
          <div> <img src="../../../../assets/img/sleep.png"> </div>
        </li>

        <li>
          <div>

            <mat-form-field>
              <input matInput class="startEndTracker" placeholder="End" type="text" name="" [(ngModel)]="finishTimeModel">
            </mat-form-field>

          </div>
        </li>
      </ul>

    </div>

  </div>

  <div class="break">

    <div class="editContent">

      <ul>
        <li>
          <div> <img src="../../../../assets/img/lunch.png"> </div>
        </li>

        <li>
          <div>

            <button mat-mini-fab class="btn btn-outline-primary" id="sumar" color="warn" (click)="onMinus()" type="button" id="minusBtn"> <i class="fas fa-minus"></i> </button>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Break" type="number" class="form-control " [(ngModel)]="day.break"   min="0" >
            </mat-form-field>&nbsp;
            <button class="btn btn-outline-primary" color="primary" mat-mini-fab (click)="onPlus()" type="button" [disabled]="ended" id="plusBtn"> <i class="fas fa-plus"></i> </button>&nbsp;
            <button class="btn btn-outline-primary" mat-button color="primary" (click)="toSave()" type="button" [disabled]="ended" id="setBreakBtn">Save</button>


          </div>
        </li>
      </ul>

    </div>

  </div>

</div>
</div>
