.searchDay {
    margin-top: 120px;
    position: relative;
    float: left;
}

.datePicker {
    margin-right: 10px;
}

.editZone {
    height: 300px;
}
.editContent {
    border: 1px solid black;
    margin: 10px;
    width: 100%;
    height: 300px;
}

.editContent:hover {
    cursor: pointer;
}

.editContent>ul>li {
    list-style-type: none;
    border: 1px solid transparent;
    width: 100%;
    height: 150px;
}

.editContent>ul>li>div>img {
    margin-top: 25px;
}

.editContent>ul>li>div {
    text-align: center;
    margin-top: 25px;
}

.editZone>div {
    width: calc(100% / 3);
    display: inline-flex;
    float: left;
}

.editZone>div>img {
    margin: auto;
}



