<h1>Willkommen beim RSM Web Template der Angular Komponentenbibliothek</h1>
<rsm-card>

  <rsm-card-content *ngFor="let menu of menuItems()" [headline]="menu.label">
    <div fxLayout="row" fxLayoutGap="24px" fxLayoutAlign="start" fxLayoutWrap>
      <div *ngFor="let item of itemsOf(menu)" style="height: 60px">
        <button (click)="onSelect(item)" [style.width.px]="180">
          {{item.label}}
        </button>
      </div>
    </div>
  </rsm-card-content>


</rsm-card>


